/* part-7.2 */
.container{
  border: 2px solid salmon;
  display: flex;
  /* justify-content: space-around;
  align-items: center; */
  /* flex-direction: row-reverse; */
  flex-wrap: wrap;
  height: 250px;
}
.box{
  border: 2px dashed tomato;
  width: 100px;
  height: 100px;
}
/* part-7.3 */
nav{
  display: flex;
  justify-content: space-between;
}
nav a{
  text-decoration: none;
  color: black;
}
.login-container{
display: flex;
justify-content: center;

}
.login-form{
  display: flex;
  flex-direction: column;
  width: 50%;

}
.login-form input{
  margin-top: 20px;
}
/* grid layout-7.4 */
.item{
  border: 1px solid greenyellow;
}
.container-grid{
  display: grid;
  /* grid-template-columns: 200px 200px 200px 200px; */
  /* grid-template-columns: repeat(2,100px) 200px 150px; */
  grid-template-columns: 200px 200px 200px;
  justify-content: space-around;
  grid-gap: 30px;
}
/* clender-7.5 */
.calender{
  display: grid;
  grid-template-columns: repeat(7,1fr);
  grid-template-rows:30px repeat(5,50px);
  row-gap: 20px;
  column-gap: 10px;
}
.date,.day{
  background-color: skyblue;
  row-gap: 20px;
  column-gap: 10px;
  border-radius: 5px;
  /* height: 40px; */
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5em;
}
.day{
background-color: lightgray;
font-size: 1em;
}
/* Basic responsive-7.6 */

.food{
  border: 1px solid red;
  padding: 10px;
  border-radius: 10px;
}
.container-food{
  display: grid;
  grid-template-columns: repeat(4,1fr);
  gap: 20px;
}
.food-img{
  width: 100%;
}
/* simple media query */
 @media screen and (max-width: 576px) {
  .container-food{
grid-template-columns: repeat(1, 1fr);
  }
}